#positions-01 {
    .element {
        padding: 40px;
        width: 100px;
        height: 100px;
        border: 1px solid black;
        background-color: turquoise;
    }

    .relative-element {
        padding: 40px;
        width: 100px;
        height: 100px;
        border: 1px solid black;
        background-color: turquoise;
    }
}

.relative-element {
    position: relative;
    top: -30px;
    left: 50px;
}